@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$first-color: #ff702a;
$second-color: #1e1d2b;
$third-color: #ffefe8;
$fourth-color: #2c2b47;
*{
    font-family: 'Poppins';
    letter-spacing: 3px;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    background-color: $second-color;
}
h1{
    color: $first-color !important;
}
.navbar{
    background-color: $second-color;
}
.nav-link{
    color: #fff;
    font-size: 1.3em;
}
.nav-link:hover{
    color: $first-color !important;  
}
.header{
    padding: 150px 0 350px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
    margin: auto;
        p{
            color: #fff;
            font-size: 2em;
            font-weight: 500;
            a{
                background-color: $first-color;
                color: #fff;
                outline: none;
                border: none;
                font-weight: 500;
                border-radius: 0;
            }
            a:hover{
                background-color: #e06427;
            }
        }
        h2{
            font-weight: 500;
            color: $first-color;
            font-size: 5em;
        }
        .jumbotron{
        }
        .image{
            width: 500px;
        }
    

}

.section-one{
    padding: 0 0 300px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 100px;
    .container-one{
    }
    .container-two{
        h4{
            color: $first-color;
        }
        h2{
            color: #fff;
            font-weight: 500;
            font-size: 4em;
        }
        p{
            color: #fff;
            font-weight: 500;
            font-size: 1.5em;
            a{
                background-color: $first-color;
                color: #fff;
                font-weight: 500;
                border: none;
                border-radius: 0;
            }
            a:hover{
                background-color: #e06427;
            }
        }
    }
}

.section-two{
    width: 100%;
    margin: auto;
    padding: 0 0 250px 0;
    h4{
        color: $first-color;
    }
    h2{
        font-weight: 500;
        font-size: 4em;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        flex-wrap: wrap;
        h3,h4{
            color: #000;
        }
        .cart{
            background-color: $third-color;
            width: 400px;
            padding-top: 25px;
        }
        p{
            color: $first-color;
            width: 500;
            font-size: 1.2em;
        }
    }
}
.section-three{
    width: 100%;
    margin: auto;
    padding: 0 0 250px 0;
    h4{
        color: $first-color;
    }
    h2{
        font-weight: 500;
        font-size: 4em;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        flex-wrap: wrap;
        object-fit: cover;
        img{
            width: 75%;
        }
        h4{
            color: $first-color;
        }
        .cart{
            width: 400px;
            padding-top: 25px;
        }
        p{
            color: #fff;
            width: 500;
            font-size: 1.2em;
        }
    }
}
.section-four{
    width: 100%;
    padding: 0 0 250px 0;
    div{
        height: auto;
        background-color: $third-color;
        margin: auto;
        h2{
            font-weight: 500;
            font-size: 4em;
        }
        p{
            a{
                background-color: $first-color;
                border: none;
                color: #fff;
                border-radius: 0;
            }
            a:hover{
                background-color: #e06427;
            }
        }
    }
}
.footer{
    gap: 100px;
    align-items:flex-start;
    .cart{
        h4::before{
            content: '';
            position: absolute;
            width: 50px;
            height: 3px;
            background-color: #ff702a;
        }
        ul{
            li{
                list-style: none;
                text-align: center;
            }
        }
    }
}
@media (max-width: 1000px){
    *{
        text-align: center;
    }
    .footer{
        display: block!important;
        .cart{
            margin: 50px 0 50px 100px;
            h4{
                text-align: start;
            }
            ul{
                li{
                    text-align: start;
                }
            }
            text-align: start;
        }
    }
    div{
        h2{
            font-size: 2em;
        }
    }
}